<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Chat App</title>
</head>
<body>
    <div class="nav-bg">
        <div class="header">
            <a href="/" class="sitelogo">CNOW</a>
            <nav>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign In</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="chatapp">
                <div class="serverinfo">
                    <h3>Server Name</h3>
                    <blockquote>RoomID: <%= room %></blockquote>
                    <div class="users">
                        <ul>
                            <li><b>Users</b></li>
                            <li>Sun</li>
                            <li>Daniel</li>
                            <li>Rana</li>
                        </ul>
                    </div>
                </div>
                
                <div class="chat">
                    <div class="chatbubble">
                        <div class="chatcontroller">
                            <b>System</b>
                            <p>Welcome to CNOW!</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <form class="textsend" id="chat-form">
                <input type="text" id="msg" placeholder="Type...">
                <button class="btn">+</button>
            </form>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>